.checkoutPage {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.checkoutBtn {
  background-color: #0078d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
.continueBtn {
  background-color: #0078d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
}
.container {
  display: flex;
  gap: 20px;
}
.result {
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 30px;
}
.resultText {
  font-weight: 600;
  font-size: large;
  padding: 10px;
}
.deliveryInfo {
  padding: 20px;
  background-color: #ffffff5e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0.7;
}
.paymentMethod {
  padding: 20px;
  background-color: #ffffff5e;
  border-radius: 8px;
  flex: 0.3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.deliveryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.addressInput {
  grid-column: span 2;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 5px;
}

.cardDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.cartItem img {
  width: 70px;
  height: auto;
  border-radius: 5px;
}

.itemDetails {
  margin-left: 10px;
}

.payBtn {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

.payBtn:hover {
  background-color: #0056b3;
}

.alternatePayment {
  margin-top: 20px;
}

.alternatePayment p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
