/****** Object:  Table [dbo].[Inventory]    Script Date: 2/2/2023 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ID] [int] NOT NULL,
	[ModelId] [varchar](500) NOT NULL,
	[Region] [varchar](500) NOT NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[AvailableInventory] [int] NOT NULL,
	[BillingId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [varchar](500) NULL,
	[CostCenterCode] [varchar](500) NULL,
	[DiscountAmount] [varchar](500) NULL,
	[EmailAddress] [varchar](500) NULL,
	[FirstName] [varchar](500) NULL,
	[LastName] [varchar](500) NULL,
	[OrderQuantity] [int] NOT NULL,
	[Phone] [varchar](500) NULL,
	[ProductCode] [varchar](500) NULL,
	[SalesAmount] [int] NOT NULL,
	[SalesInvoiceNumber] [int] NOT NULL,
	[TaxAmount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Inventory] ([ID], [ModelId], [Region], [LastUpdate], [AvailableInventory], [BillingId], [CompanyId], [CompanyName], [CostCenterCode], [DiscountAmount], [EmailAddress], [FirstName], [LastName], [OrderQuantity], [Phone], [ProductCode], [SalesAmount], [SalesInvoiceNumber], [TaxAmount]) VALUES (21, N'Relecloud 100', N'Europe', CAST(N'2022-12-23T12:00:04.5765873' AS DateTime2), 873, 598, 276, NULL, NULL, NULL, NULL, NULL, NULL, 126, NULL, NULL, 69, 285, 102)
INSERT [dbo].[Inventory] ([ID], [ModelId], [Region], [LastUpdate], [AvailableInventory], [BillingId], [CompanyId], [CompanyName], [CostCenterCode], [DiscountAmount], [EmailAddress], [FirstName], [LastName], [OrderQuantity], [Phone], [ProductCode], [SalesAmount], [SalesInvoiceNumber], [TaxAmount]) VALUES (22, N'Relecloud 100', N'South America', CAST(N'2022-12-23T12:00:04.5765976' AS DateTime2), 871, 1040, 543, NULL, NULL, NULL, NULL, NULL, NULL, 196, NULL, NULL, 32, 1139, 7)
INSERT [dbo].[Inventory] ([ID], [ModelId], [Region], [LastUpdate], [AvailableInventory], [BillingId], [CompanyId], [CompanyName], [CostCenterCode], [DiscountAmount], [EmailAddress], [FirstName], [LastName], [OrderQuantity], [Phone], [ProductCode], [SalesAmount], [SalesInvoiceNumber], [TaxAmount]) VALUES (23, N'Relecloud 100', N'Africa', CAST(N'2022-12-23T12:00:04.5766021' AS DateTime2), 754, 1012, 1030, NULL, NULL, NULL, NULL, NULL, NULL, 12, NULL, NULL, 70, 1017, 127)
GO
