/****** Object:  Table [dbo].[Campaign_AnalyticLatest]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_AnalyticLatest]
(
	[Region] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ProductCategory] [nvarchar](max) NULL,
	[Campaign_ID] [nvarchar](max) NULL,
	[Campaign_Name] [nvarchar](max) NULL,
	[Qualification] [nvarchar](max) NULL,
	[Qualification_Number] [nvarchar](max) NULL,
	[Response_Status] [nvarchar](max) NULL,
	[Responses] [nvarchar](max) NULL,
	[Cost] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL,
	[ROI] [nvarchar](max) NULL,
	[Lead_Generation] [nvarchar](max) NULL,
	[Revenue_Target] [nvarchar](max) NULL,
	[Campaign_Tactic] [nvarchar](max) NULL,
	[Customer_Segment] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Profit] [nvarchar](max) NULL,
	[Marketing_Cost] [nvarchar](max) NULL,
	[CampaignID] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[SORTED_ID] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns]
(
	[Campaigns_ID] [nvarchar](max) NULL,
	[CampaignID] [nvarchar](max) NULL,
	[CampaignName] [nvarchar](max) NULL,
	[SubCampaignID] [nvarchar](max) NULL,
	[FullAd_FileName] [nvarchar](max) NULL,
	[HalfAd_FileName] [nvarchar](max) NULL,
	[Logo_FileName] [nvarchar](max) NULL,
	[SoundFile_FileName] [nvarchar](max) NULL,
	[FullAd] [nvarchar](max) NULL,
	[HalfAd] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[SoundFile] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[CohortAnalysis]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CohortAnalysis]
(
	[High Loyal] [nvarchar](max) NULL,
	[Column1] [nvarchar](max) NULL,
	[Customer ID] [nvarchar](max) NULL,
	[Frequency] [nvarchar](max) NULL,
	[FrequencyCluster] [nvarchar](max) NULL,
	[OverallScore] [nvarchar](max) NULL,
	[RecencyCluster] [nvarchar](max) NULL,
	[Recency] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL,
	[RevenueCluster] [nvarchar](max) NULL,
	[Segment] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[ConflictofInterest]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConflictofInterest]
(
	[FiscalYear-Quarter] [nvarchar](max) NULL,
	[Fiscal Year] [nvarchar](max) NULL,
	[Fiscal Quarter] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Required] [nvarchar](max) NULL,
	[Complete] [nvarchar](max) NULL,
	[Survey NC] [nvarchar](max) NULL,
	[Incomplete] [nvarchar](max) NULL,
	[Function Summary] [nvarchar](max) NULL,
	[Complete %] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[CosmosDb]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CosmosDb]
(
	[modelId] [nvarchar](max) NULL,
	[date] [datetime2](7) NULL,
	[region] [nvarchar](max) NULL,
	[upForService] [bigint] NULL,
	[id] [nvarchar](max) NULL,
	[_rid] [nvarchar](max) NULL,
	[_self] [nvarchar](max) NULL,
	[_etag] [nvarchar](max) NULL,
	[_attachments] [nvarchar](max) NULL,
	[_ts] [bigint] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country]
(
	[City for NRF] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ID] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Customer_Segment_RFM]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Segment_RFM]
(
	[CustomerID] [nvarchar](max) NULL,
	[Recency] [nvarchar](max) NULL,
	[RecencyCluster] [nvarchar](max) NULL,
	[Frequency] [nvarchar](max) NULL,
	[FrequencyCluster] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL,
	[RevenueCluster] [nvarchar](max) NULL,
	[OverallScore] [nvarchar](max) NULL,
	[Segment] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[CustomerVisitForecast]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVisitForecast]
(
	[Date] [nvarchar](max) NULL,
	[Gaming] [nvarchar](max) NULL,
	[Kids] [nvarchar](max) NULL,
	[Mens] [nvarchar](max) NULL,
	[Phone_and_GPS] [nvarchar](max) NULL,
	[Womens] [nvarchar](max) NULL,
	[Accessories] [nvarchar](max) NULL,
	[Entertainment] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[CustomerVisitsIn_PersonByLocation]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVisitsIn_PersonByLocation]
(
	[City] [nvarchar](max) NULL,
	[Month] [nvarchar](max) NULL,
	[Total Visits] [nvarchar](max) NULL,
	[Unique Visitors] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[DemandForecast]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemandForecast]
(
	[instant] [real] NULL,
	[season] [real] NULL,
	[yr] [real] NULL,
	[mnth] [real] NULL,
	[weekday] [real] NULL,
	[weathersit] [real] NULL,
	[incentive_level] [real] NULL,
	[incentive_duration_remaining] [real] NULL,
	[power_grid_premium] [real] NULL,
	[power_grid_risk] [real] NULL,
	[_automl_target_col_WASNULL] [bigint] NULL,
	[instant_WASNULL] [bigint] NULL,
	[season_WASNULL] [bigint] NULL,
	[yr_WASNULL] [bigint] NULL,
	[mnth_WASNULL] [bigint] NULL,
	[weekday_WASNULL] [bigint] NULL,
	[weathersit_WASNULL] [bigint] NULL,
	[incentive_level_WASNULL] [bigint] NULL,
	[incentive_duration_remaining_WASNULL] [bigint] NULL,
	[power_grid_premium_WASNULL] [bigint] NULL,
	[power_grid_risk_WASNULL] [bigint] NULL,
	[_automl_year] [bigint] NULL,
	[_automl_year_iso] [bigint] NULL,
	[_automl_half] [bigint] NULL,
	[_automl_quarter] [bigint] NULL,
	[_automl_month] [bigint] NULL,
	[_automl_day] [bigint] NULL,
	[_automl_wday] [bigint] NULL,
	[_automl_qday] [bigint] NULL,
	[_automl_week] [bigint] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[DimData]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimData]
(
	[DateKey] [nvarchar](max) NULL,
	[DateValue] [nvarchar](max) NULL,
	[DayOfMonth] [nvarchar](max) NULL,
	[DayOfYear] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL,
	[MonthOfYear] [nvarchar](max) NULL,
	[MonthName] [nvarchar](max) NULL,
	[QuarterOfYear] [nvarchar](max) NULL,
	[QuarterName] [nvarchar](max) NULL,
	[WeekEnding] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Engagement_ActualVsForecast]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engagement_ActualVsForecast]
(
	[Month] [nvarchar](max) NULL,
	[Before] [nvarchar](max) NULL,
	[CLine] [nvarchar](max) NULL,
	[CLine_after] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Tweets] [nvarchar](max) NULL,
	[Media] [nvarchar](max) NULL,
	[Ads Clicked] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Engagement_ActualVsForecastLatest]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engagement_ActualVsForecastLatest]
(
	[Month] [nvarchar](max) NULL,
	[Before] [nvarchar](max) NULL,
	[CLine] [nvarchar](max) NULL,
	[CLine_after] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Tweets] [nvarchar](max) NULL,
	[Media] [nvarchar](max) NULL,
	[Ads Clicked] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Export]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export]
(
	[EnqueuedTimeUTC] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[aisle_dwell_time_dec] [nvarchar](max) NULL,
	[aisle_dwell_time_may] [nvarchar](max) NULL,
	[aisle_dwell_time_nov] [nvarchar](max) NULL,
	[aisle_dwell_time_oct] [nvarchar](max) NULL,
	[aisle_dwell_time_sep] [nvarchar](max) NULL,
	[avg_checkout_time_dec] [nvarchar](max) NULL,
	[avg_checkout_time_may] [nvarchar](max) NULL,
	[avg_checkout_time_nov] [nvarchar](max) NULL,
	[avg_checkout_time_oct] [nvarchar](max) NULL,
	[avg_checkout_time_sep] [nvarchar](max) NULL,
	[avg_dur_in_store_dec] [nvarchar](max) NULL,
	[avg_dur_in_store_may] [nvarchar](max) NULL,
	[avg_dur_in_store_nov] [nvarchar](max) NULL,
	[avg_dur_in_store_oct] [nvarchar](max) NULL,
	[avg_dur_in_store_sep] [nvarchar](max) NULL,
	[RecordedonUTC] [nvarchar](max) NULL,
	[target_avg_dur_in_store] [nvarchar](max) NULL,
	[target_checkout_time] [nvarchar](max) NULL,
	[target_dwell_time] [nvarchar](max) NULL,
	[City (NRF)] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Finance_Sales]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Finance_Sales]
(
	[Fiscal Year] [nvarchar](max) NULL,
	[Fiscal Quarter] [nvarchar](max) NULL,
	[Fiscal Month] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Customer Segment] [nvarchar](max) NULL,
	[Channel] [nvarchar](max) NULL,
	[Product] [nvarchar](max) NULL,
	[ProductCategory] [nvarchar](max) NULL,
	[Gross Sales] [nvarchar](max) NULL,
	[Budget] [nvarchar](max) NULL,
	[Forecast] [nvarchar](max) NULL,
	[Discount] [nvarchar](max) NULL,
	[Net Sales] [nvarchar](max) NULL,
	[COGS] [nvarchar](max) NULL,
	[Gross Profit] [nvarchar](max) NULL,
	[Half Yearly] [nvarchar](max) NULL,
	[VTB ($)] [nvarchar](max) NULL,
	[VTB (%)] [nvarchar](max) NULL,
	[link] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[Dates] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[FinanceSales]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceSales]
(
	[Fiscal Year] [nvarchar](max) NULL,
	[Fiscal Quarter] [nvarchar](max) NULL,
	[Fiscal Month] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Customer Segment] [nvarchar](max) NULL,
	[Channel] [nvarchar](max) NULL,
	[Product] [nvarchar](max) NULL,
	[ProductCategory] [nvarchar](max) NULL,
	[Gross Sales] [nvarchar](max) NULL,
	[Budget] [nvarchar](max) NULL,
	[Forecast] [nvarchar](max) NULL,
	[Discount] [nvarchar](max) NULL,
	[Net Sales] [nvarchar](max) NULL,
	[COGS] [nvarchar](max) NULL,
	[Gross Profit] [nvarchar](max) NULL,
	[Half Yearly] [nvarchar](max) NULL,
	[VTB ($)] [nvarchar](max) NULL,
	[VTB (%)] [nvarchar](max) NULL,
	[link] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[Dates] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[FPA]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPA]
(
	[Fiscal Year] [nvarchar](max) NULL,
	[Fiscal Quarter] [nvarchar](max) NULL,
	[Fiscal Month] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Forecast] [nvarchar](max) NULL,
	[Budget] [nvarchar](max) NULL,
	[Actual] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[HeaderWIP]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeaderWIP]
(
	[Operating_Profit(in USD millions)] [nvarchar](max) NULL,
	[Operating_Profit_Target YTD(in USD millions)] [nvarchar](max) NULL,
	[Revenue_Growth] [nvarchar](max) NULL,
	[Revenue_Growth_Target YTD] [nvarchar](max) NULL,
	[Marketing_Cost(in USD millions)] [nvarchar](max) NULL,
	[Marketing_Cost YTD(in USD millions)] [nvarchar](max) NULL,
	[Market_Sentiment] [nvarchar](max) NULL,
	[ESG_Risk_Score] [nvarchar](max) NULL,
	[Month] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory]
(
	[ID] [int] NOT NULL,
	[ModelId] [nvarchar](max) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[AvailableInventory] [int] NOT NULL,
	[BillingId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CostCenterCode] [nvarchar](max) NULL,
	[DiscountAmount] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[OrderQuantity] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[SalesAmount] [int] NOT NULL,
	[SalesInvoiceNumber] [int] NOT NULL,
	[TaxAmount] [int] NOT NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[InventoryItem]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItem]
(
	[ID] [int] NOT NULL,
	[ModelId] [nvarchar](max) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[AvailableInventory] [int] NOT NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Location_Analytics_old]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location_Analytics_old]
(
	[Day] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Product_Category] [nvarchar](max) NULL,
	[Visit_Start] [nvarchar](max) NULL,
	[Visit_End] [nvarchar](max) NULL,
	[Hour] [nvarchar](max) NULL,
	[Visitor_ID] [nvarchar](max) NULL,
	[First_Visit] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
	[Minutes] [nvarchar](max) NULL,
	[Visit_Type] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Customer_Segment] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Stores] [nvarchar](max) NULL,
	[Engagement] [nvarchar](max) NULL,
	[Acquisition] [nvarchar](max) NULL,
	[Impressions] [nvarchar](max) NULL,
	[Conversion] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL,
	[WeekDay] [nvarchar](max) NULL,
	[SortByVisitType] [nvarchar](max) NULL,
	[Engaged_Visitors] [nvarchar](max) NULL,
	[Week_Number] [nvarchar](max) NULL,
	[Target_Visitors] [nvarchar](max) NULL,
	[Variance] [nvarchar](max) NULL,
	[Column28] [nvarchar](max) NULL,
	[Column29] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Location_AnalyticsLatest]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location_AnalyticsLatest]
(
	[Day] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Product_Category] [nvarchar](max) NULL,
	[Visit_Start] [nvarchar](max) NULL,
	[Visit_End] [nvarchar](max) NULL,
	[Hour] [nvarchar](max) NULL,
	[Visitor_ID] [nvarchar](max) NULL,
	[First_Visit] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
	[Minutes] [nvarchar](max) NULL,
	[Visit_Type] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Customer_Segment] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Stores] [nvarchar](max) NULL,
	[Engagement] [nvarchar](max) NULL,
	[Acquisition] [nvarchar](max) NULL,
	[Impressions] [nvarchar](max) NULL,
	[Conversion] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL,
	[WeekDay] [nvarchar](max) NULL,
	[SortByVisitType] [nvarchar](max) NULL,
	[Engaged_Visitors] [nvarchar](max) NULL,
	[Week_Number] [nvarchar](max) NULL,
	[Target_Visitors] [nvarchar](max) NULL,
	[Variance] [nvarchar](max) NULL,
	[Column28] [nvarchar](max) NULL,
	[Column29] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Location_AnalyticsNew]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location_AnalyticsNew]
(
	[Day] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Product_Category] [nvarchar](max) NULL,
	[Visit_Start] [nvarchar](max) NULL,
	[Visit_End] [nvarchar](max) NULL,
	[Hour] [nvarchar](max) NULL,
	[Visitor_ID] [nvarchar](max) NULL,
	[First_Visit] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
	[Minutes] [nvarchar](max) NULL,
	[Visit_Type] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Customer_Segment] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Stores] [nvarchar](max) NULL,
	[Engagement] [nvarchar](max) NULL,
	[Acquisition] [nvarchar](max) NULL,
	[Impressions] [nvarchar](max) NULL,
	[Conversion] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL,
	[WeekDay] [nvarchar](max) NULL,
	[SortByVisitType] [nvarchar](max) NULL,
	[Engaged_Visitors] [nvarchar](max) NULL,
	[Week_Number] [nvarchar](max) NULL,
	[Target_Visitors] [nvarchar](max) NULL,
	[Variance] [nvarchar](max) NULL,
	[Column28] [nvarchar](max) NULL,
	[Column29] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[MIDPSales]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIDPSales]
(
	[Date] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Solar Panels Sold] [nvarchar](max) NULL,
	[Power Outages] [nvarchar](max) NULL,
	[Lat] [nvarchar](max) NULL,
	[Long] [nvarchar](max) NULL,
	[Count of ID] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[MIDPSupplier]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIDPSupplier]
(
	[ID] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[DelayedShipments] [nvarchar](max) NULL,
	[FactoryProduction] [nvarchar](max) NULL,
	[SupplierRanking] [nvarchar](max) NULL,
	[isPort] [nvarchar](max) NULL,
	[Lat] [nvarchar](max) NULL,
	[Long] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Models]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models]
(
	[ID] [nvarchar](1024) NOT NULL,
	[name] [nvarchar](1024) NOT NULL,
	[description] [nvarchar](1024) NULL,
	[version] [int] NULL,
	[created_time] [datetime2](7) NULL,
	[created_by] [nvarchar](128) NULL,
	[framework] [nvarchar](64) NULL,
	[model] [varbinary](max) NULL,
	[inputs_schema] [nvarchar](max) NULL,
	[outputs_schema] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[OnlineRetailData]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineRetailData]
(
	[InvoiceNo] [nvarchar](max) NULL,
	[StockCode] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [nvarchar](max) NULL,
	[InvoiceDate] [nvarchar](max) NULL,
	[UnitPrice] [nvarchar](max) NULL,
	[CustomerID] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Age] [nvarchar](max) NULL,
	[AgeGroup] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[OperatingExpenses]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatingExpenses]
(
	[Class] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Function Summary] [nvarchar](max) NULL,
	[Line Item] [nvarchar](max) NULL,
	[P&L Classification] [nvarchar](max) NULL,
	[VTB (%)] [nvarchar](max) NULL,
	[Actual ($)] [nvarchar](max) NULL,
	[Budget ($)] [nvarchar](max) NULL,
	[VTB ($)] [nvarchar](max) NULL,
	[YoY ($)] [nvarchar](max) NULL,
	[Channel] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[pbiBalanceSheet]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pbiBalanceSheet]
(
	[BalanceSheetId] [int] NULL,
	[InstitutionId] [int] NULL,
	[Country] [varchar](4000) NULL,
	[City] [varchar](4000) NULL,
	[Domain] [varchar](4000) NULL,
	[TotalAssets] [float] NULL,
	[Revenue] [float] NULL,
	[Expense] [float] NULL,
	[ResearchInvestment] [float] NULL,
	[GovernmentDebt] [float] NULL,
	[OtherGovernmentSecurities] [float] NULL,
	[OtherSecurities] [float] NULL,
	[HighQualityLiquidAsset] [float] NULL,
	[NetCashFlow] [float] NULL,
	[MonthNumber] [int] NULL,
	[Month] [varchar](4000) NULL,
	[Year] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[pbiBedOccupancyForecasted]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pbiBedOccupancyForecasted]
(
	[Date] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[OccupancyRate] [nvarchar](max) NULL,
	[forecasted] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[pbiCustomer]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pbiCustomer]
(
	[CustomerId] [int] NULL,
	[InstitutionId] [int] NULL,
	[Country] [varchar](4000) NULL,
	[City] [varchar](4000) NULL,
	[Domain] [varchar](4000) NULL,
	[FirstName] [varchar](4000) NULL,
	[LastName] [varchar](4000) NULL,
	[LatestCreditScore] [int] NULL,
	[Age] [int] NULL,
	[AgeGroup] [varchar](4000) NULL,
	[AccountOpeningTime] [float] NULL,
	[Tenure] [int] NULL,
	[IsActive] [bit] NULL,
	[DateTime] [datetime] NULL,
	[MonthNumber] [int] NULL,
	[Month] [varchar](4000) NULL,
	[Year] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[PbiReadmissionPrediction]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PbiReadmissionPrediction]
(
	[hospital_id] [nvarchar](max) NULL,
	[department_id] [nvarchar](max) NULL,
	[city] [nvarchar](max) NULL,
	[patient_age] [nvarchar](max) NULL,
	[risk_level] [nvarchar](max) NULL,
	[acute_type] [nvarchar](max) NULL,
	[patient_category] [nvarchar](max) NULL,
	[doctor_id] [nvarchar](max) NULL,
	[length_of_stay] [nvarchar](max) NULL,
	[wait_time] [nvarchar](max) NULL,
	[type_of_stay] [nvarchar](max) NULL,
	[treatment_cost] [nvarchar](max) NULL,
	[claim_cost] [nvarchar](max) NULL,
	[drug_cost] [nvarchar](max) NULL,
	[hospital_expense] [nvarchar](max) NULL,
	[follow_up] [nvarchar](max) NULL,
	[readmitted_patient] [nvarchar](max) NULL,
	[payment_type] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL,
	[month] [nvarchar](max) NULL,
	[year] [nvarchar](max) NULL,
	[reason_for_readmission] [nvarchar](max) NULL,
	[disease] [nvarchar](max) NULL,
	[Actual_Flag] [nvarchar](max) NULL,
	[Predicted_Flag] [nvarchar](max) NULL,
	[Prediction_Probability] [nvarchar](max) NULL,
	[Actual_Readmission_Rate] [nvarchar](max) NULL,
	[Predicted_Readmission_Rate] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[PbiWaitTimeForecast]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PbiWaitTimeForecast]
(
	[date] [nvarchar](max) NULL,
	[wait_time] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[pred_anomaly]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pred_anomaly]
(
	[Date_Time] [nvarchar](max) NULL,
	[PrincipalComponent1] [nvarchar](max) NULL,
	[PrincipalComponent2] [nvarchar](max) NULL,
	[PrincipalComponent3] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[PatientID] [nvarchar](max) NULL,
	[Anomaly Detected ] [nvarchar](max) NULL,
	[Scored Probabilities] [nvarchar](max) NULL,
	[PC1] [nvarchar](max) NULL,
	[PC2] [nvarchar](max) NULL,
	[PC3] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Row Num] [nvarchar](max) NULL,
	[Probability Goal] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[PredictiveInventory]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PredictiveInventory]
(
	[ControllerId] [nvarchar](max) NULL,
	[ModelId] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL,
	[LastUpdate] [nvarchar](max) NULL,
	[AcPower] [float] NULL,
	[DcPower] [float] NULL,
	[Temperature] [float] NULL,
	[UpForService] [bit] NULL,
	[AvailableInventory] [int] NULL,
	[BillingId] [int] NULL,
	[CompanyId] [int] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CostCenterCode] [nvarchar](max) NULL,
	[DiscountAmount] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[OrderQuantity] [int] NULL,
	[Phone] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[SalesAmount] [int] NULL,
	[SalesInvoiceNumber] [int] NULL,
	[TaxAmount] [int] NULL,
	[ModelMetadata] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[PredictiveInventorySink]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PredictiveInventorySink]
(
	[ControllerId] [nvarchar](max) NULL,
	[ModelId] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL,
	[LastUpdate] [nvarchar](max) NULL,
	[AcPower] [float] NULL,
	[DcPower] [float] NULL,
	[Temperature] [float] NULL,
	[UpForService] [bit] NULL,
	[AvailableInventory] [int] NULL,
	[BillingId] [int] NULL,
	[CompanyId] [int] NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CostCenterCode] [nvarchar](max) NULL,
	[DiscountAmount] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[OrderQuantity] [int] NULL,
	[Phone] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[SalesAmount] [int] NULL,
	[SalesInvoiceNumber] [int] NULL,
	[TaxAmount] [int] NULL,
	[ModelMetadata] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[ProductLink2]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLink2]
(
	[Product] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[ReadOnlyLink] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[ProductRecommendations]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRecommendations]
(
	[Product] [nvarchar](max) NULL,
	[Recommeded Product] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Products Table]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products Table]
(
	[AdImage] [nvarchar](max) NULL,
	[AdImage_FileName] [nvarchar](max) NULL,
	[BLECode] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[citycode] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
	[ProductID] [nvarchar](max) NULL,
	[Products_ID] [nvarchar](max) NULL,
	[SoundFile] [nvarchar](max) NULL,
	[SoundFile_FileName] [nvarchar](max) NULL,
	[SubCampaigns] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[TargetClassification] [nvarchar](max) NULL,
	[TargetGender] [nvarchar](max) NULL,
	[TargetGeneration] [nvarchar](max) NULL,
	[Thumbnail] [nvarchar](max) NULL,
	[Thumbnail_FileName] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[RevenueVsMarketingCostNew]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueVsMarketingCostNew]
(
	[Date] [nvarchar](max) NULL,
	[Month] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL,
	[MarketingCost] [nvarchar](max) NULL,
	[NetSales] [nvarchar](max) NULL,
	[Revenue] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales]
(
	[TransactionId] [nvarchar](100) NULL,
	[CustomerId] [int] NULL,
	[ProductId] [bigint] NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL,
	[TotalAmount] [bigint] NULL,
	[TransactionDate] [datetime] NULL,
	[ProfitAmount] [int] NULL,
	[Hour] [int] NULL,
	[Minute] [int] NULL,
	[StoreId] [bigint] NULL
)
WITH
(
	DISTRIBUTION = HASH ( [CustomerId] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[Salestransaction]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salestransaction]
(
	[Fiscal Year] [nvarchar](10) NULL,
	[Fiscal Quarter] [nvarchar](10) NULL,
	[Fiscal Month] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[Customer Segment] [nvarchar](50) NULL,
	[Channel] [nvarchar](100) NULL,
	[Product] [nvarchar](100) NULL,
	[Product Category] [nvarchar](100) NULL,
	[Gross Sales] [money] NULL,
	[Budget] [money] NULL,
	[Forecast] [money] NULL,
	[Discount] [money] NULL,
	[Net Sales] [money] NULL,
	[COGS] [money] NULL,
	[Gross Profit] [money] NULL,
	[Half Yearly] [nvarchar](100) NULL,
	[VTB ($)] [money] NULL,
	[VTB (%)] [float] NULL,
	[CustChurn] [float] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[Salestransactionbkp]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salestransactionbkp]
(
	[Fiscal Year] [nvarchar](10) NULL,
	[Fiscal Quarter] [nvarchar](10) NULL,
	[Fiscal Month] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[Customer Segment] [nvarchar](50) NULL,
	[Channel] [nvarchar](100) NULL,
	[Product] [nvarchar](100) NULL,
	[Product Category] [nvarchar](100) NULL,
	[Gross Sales] [money] NULL,
	[Budget] [money] NULL,
	[Forecast] [money] NULL,
	[Discount] [money] NULL,
	[Net Sales] [money] NULL,
	[COGS] [money] NULL,
	[Gross Profit] [money] NULL,
	[Half Yearly] [nvarchar](100) NULL,
	[VTB ($)] [money] NULL,
	[VTB (%)] [float] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[Salestransactions]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salestransactions]
(
	[Fiscal Year] [nvarchar](10) NULL,
	[Fiscal Quarter] [nvarchar](10) NULL,
	[Fiscal Month] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[Customer Segment] [nvarchar](50) NULL,
	[Channel] [nvarchar](100) NULL,
	[Product] [nvarchar](100) NULL,
	[Product Category] [nvarchar](100) NULL,
	[Gross Sales] [money] NULL,
	[Budget] [money] NULL,
	[Forecast] [money] NULL,
	[Discount] [money] NULL,
	[Net Sales] [money] NULL,
	[COGS] [money] NULL,
	[Gross Profit] [money] NULL,
	[Half Yearly] [nvarchar](100) NULL,
	[VTB ($)] [money] NULL,
	[VTB (%)] [float] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Salestransactions1]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salestransactions1]
(
	[Fiscal Year] [nvarchar](10) NULL,
	[Fiscal Quarter] [nvarchar](10) NULL,
	[Fiscal Month] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[Customer Segment] [nvarchar](50) NULL,
	[Channel] [nvarchar](100) NULL,
	[Product] [nvarchar](100) NULL,
	[Product Category] [nvarchar](100) NULL,
	[Gross Sales] [money] NULL,
	[Budget] [money] NULL,
	[Forecast] [money] NULL,
	[Discount] [money] NULL,
	[Net Sales] [money] NULL,
	[COGS] [money] NULL,
	[Gross Profit] [money] NULL,
	[Half Yearly] [nvarchar](100) NULL,
	[VTB ($)] [money] NULL,
	[VTB (%)] [float] NULL,
	[CustChurn] [float] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[SalesVsExpense]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesVsExpense]
(
	[Accounting Head] [nvarchar](max) NULL,
	[Amount] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[SiteSecurity]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSecurity]
(
	[FiscalQuarter] [nvarchar](max) NULL,
	[FiscalYear] [nvarchar](max) NULL,
	[FiscalMonth] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Phase] [nvarchar](max) NULL,
	[Total Vulnerabilities] [nvarchar](max) NULL,
	[Total Open Vulnerabilities] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Data Classification] [nvarchar](max) NULL,
	[App Scan High Risk] [nvarchar](max) NULL,
	[App Scan Low Risk] [nvarchar](max) NULL,
	[Host Scan high Risk] [nvarchar](max) NULL,
	[Host Scan Low Risk] [nvarchar](max) NULL,
	[Active Sites Not Scanned] [nvarchar](max) NULL,
	[Site Status] [nvarchar](max) NULL,
	[Total Vuln] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Temp]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp]
(
	[Fiscal Year] [nvarchar](10) NULL,
	[Fiscal Quarter] [nvarchar](10) NULL,
	[Fiscal Month] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[Customer Segment] [nvarchar](50) NULL,
	[Channel] [nvarchar](100) NULL,
	[Product] [nvarchar](100) NULL,
	[Product Category] [nvarchar](100) NULL,
	[Gross Sales] [money] NULL,
	[Budget] [money] NULL,
	[Forecast] [money] NULL,
	[Discount] [money] NULL,
	[Net Sales] [money] NULL,
	[COGS] [money] NULL,
	[Gross Profit] [money] NULL,
	[Half Yearly] [nvarchar](100) NULL,
	[VTB ($)] [money] NULL,
	[VTB (%)] [float] NULL,
	[CustChurn] [float] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[Travel_Entertainment]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Travel_Entertainment]
(
	[Completion Date] [nvarchar](max) NULL,
	[Month] [nvarchar](max) NULL,
	[Audit Status] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Status Description] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Serious Failed] [nvarchar](max) NULL,
	[Serious Failed Expenses] [nvarchar](max) NULL,
	[Function Summary] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[VTBByChannel]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTBByChannel]
(
	[1658707.201] [nvarchar](max) NULL,
	[01 Customer Churn] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[Wait_Time_Forecasted]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wait_Time_Forecasted]
(
	[city] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL,
	[month] [nvarchar](max) NULL,
	[wait_time] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
/****** Object:  Table [dbo].[WebsiteSocialAnalytics_PBIData]    Script Date: 2/2/2023 6:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteSocialAnalytics_PBIData]
(
	[Country] [nvarchar](max) NULL,
	[Product_Category] [nvarchar](max) NULL,
	[Product] [nvarchar](max) NULL,
	[Channel] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Sessions] [nvarchar](max) NULL,
	[Device_Category] [nvarchar](max) NULL,
	[Sources] [nvarchar](max) NULL,
	[Conversations] [nvarchar](max) NULL,
	[Page] [nvarchar](max) NULL,
	[Visits] [nvarchar](max) NULL,
	[Unique_Visitors] [nvarchar](max) NULL,
	[Browser] [nvarchar](max) NULL,
	[Sentiment] [nvarchar](max) NULL,
	[Duration_min] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Customer_Segment] [nvarchar](max) NULL,
	[Daily_Users] [nvarchar](max) NULL,
	[Conversion_Rate] [nvarchar](max) NULL,
	[Return_Visitors] [nvarchar](max) NULL,
	[Tweets] [nvarchar](max) NULL,
	[Retweets] [nvarchar](max) NULL,
	[Hashtags] [nvarchar](max) NULL,
	[Campaign_Name] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	HEAP
)
GO
