<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="PharmacyContext"
         connectionString="Data Source=PROD-SQL;Initial Catalog=PharmacyDB;User ID=pharmacyapp;Password=CHANGE_ME;MultipleActiveResultSets=True;Application Name=PharmacyLegacy"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>
