.container {
  width: 100%;
  height: 100%;
  // background-color: white;
  background-image: url(https://dreamdemoassets.blob.core.windows.net/daidemo/aoai_2_login_background.png);
  background-size: cover;
  //padding: 4% 6.5%;
  padding: 4% 1% 1% 1%;
}
.subContainer {
  width: 100%;
  height: 100%;
  background: rgba(255, 254, 250, 0.2);
  border-radius: 0.5rem;
  position: relative;
}

.title{
  // position: absolute;
  //   top: 2.3%;
  //   left: 5%;
  //   // transform: translate(-50%, 2%);
  //   color: #013056;
  //   font-size: 1.4rem;
  //   font-weight: bold;
  
    position: absolute;
    top: 2.3%;
    left: 11%;
    // transform: translate(-50%, 2%);
    color: #013056;
    font-size: 1.4rem;
    font-weight: bold;
  
}

.report {
  width: 100%;
  height: calc(100% - 10px);
  padding: 0 12px;
  padding-top: 12px;

  > iframe {
    border: unset;
    width: 100%;
    height: 100%;
  }
}

.transparent {
  > iframe {
    background-color: transparent;
  }
}

.black {
  > iframe {
    background-color: black;
  }
}

.white {
  > iframe {
    background-color: white;
  }
}

#agglomerations {
  position: relative;
  width: 692px;
  height: 480px;
  margin: 0 auto;
  background: url("https://www.telerik.com/kendo-angular-ui-develop/components/tooltips/assets/world-map.jpg")
    no-repeat 0 0;
}

#agglomerations > a {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff600;
  border-radius: 30px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
  z-index: 10;
  font-weight: bold;
}

#agglomerations > a:hover {
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
// .pulsingDiv {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: rgba(30, 143, 255, 0);
//   color: white;
//   font-size: 20px;
//   font-family: Arial, sans-serif;
//   border-radius: 10px;
//   text-align: center;
//   transition: box-shadow 0.3s ease-in-out;
//   position: absolute;
//   z-index: 9999999;
// }
.cardSelect {
  width: 19%;
  height: 27%;
  top: 24.5%;
  right: 3%;
  position: absolute;

  box-shadow: 0 0 5px 5px rgba(30, 144, 255, 0.6);
  animation: pulse 1s infinite alternate;
}
.predictive {
  width: 19%;
  height: 27%;
  top: 24.5%;
  right: 3%;
  position: absolute;
}
.store {
  width: 19%;
  height: 27%;
  top: 24.5%;
  right: 22%;
  position: absolute;
}
.marketing {
  width: 18%;
  height: 27%;
  top: 24.5%;
  left: 2%;
  position: absolute;
}
.scm {
  width: 18%;
  height: 27%;
  top: 24.5%;
  left: 21%;
  position: absolute;
}
.merchant {
  width: 19%;
  height: 27%;
  top: 24.5%;
  left: 39.5%;
  position: absolute;
}
.pulsingDiv:hover {
  box-shadow: 0 0 5px 5px rgba(30, 144, 255, 0.6);
  animation: pulse 1s infinite alternate;
}
.animationCard {
  animation: pulse 1s infinite alternate;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 20px 20px rgba(30, 144, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 40px 40px rgba(30, 144, 255, 0.3);
  }
}
