.container {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
  display: flex;
  margin-top: 50px;
  overflow-y: auto;
  padding: 24px;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.price {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
}

.description {
  margin-top: 16px;
}

.product {
  flex: 0.75;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;

  & > div:first-child {
    flex: 0.4;
    display: flex;
    gap: 24px;

    & > img {
      border-radius: 8px;
      width: 27%;
    }
  }
}

.metadata {
  flex: 0.25;

  display: flex;
  flex-direction: column;

  & > div:first-child {
    flex: 0.4;
  }

  & > div {
    flex: 0.6;
  }
}

.btn {
  color: white;
  background-color: var(--secondary-color);
  margin-top: 24px;
  font-size: 22px;
  padding: 5px 40px;
  width: 100%;

  & > span {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: var(--secondary-color);
  }
}

.similarProducts {
  display: flex;
  flex-direction: column;
  flex: 0.6;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 8px 0;
  }
}

.similarProductsContainer {
  width: 100%;
  gap: 24px;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-y: auto;

  .similarProduct {
    display: flex;
    flex-direction: column;
    width: 225px;
    align-items: baseline;
    border-radius: 8px;
    position: relative;

    span {
      color: var(--secondary-color);
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1400px) {
    .similarProduct {
      width: 225px;
    }
  }

  .similarProductMetadata {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    strong {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: calc(100% - 28px);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .similarProductShopIcon {
    position: absolute;
    right: 2px;
    top: 8px;
    width: 22px;
    cursor: pointer;
  }

  .similarProductImageContainer {
    position: relative;

    & > img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-radius: 8px;
      // border: 2px solid #eee;

      &:hover {
        scale: 1.01;
        box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.15);
      }
    }

    svg {
      position: absolute;
      right: 5px;
      z-index: 99;
      background: white;
      border-radius: 15px;
      bottom: 5px;
      cursor: pointer;
      padding: 1px;

      &:hover {
        scale: 1.01;
        box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.productLooks {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .imageContainer {
    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-radius: 8px;
    }
  }

  & > div:first-child {
    flex: 0.4;
  }

  & > div {
    flex: 0.6;
  }
}

.productLooksContainer {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.looksMetadata {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shoppingCart {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.shopIcon {
  width: 24px;
}

.metadataTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;

  strong {
    font-size: 18px;
  }
}
